  {% for contact in nagios_contacts_list %}
define contact {

contact_name    {{ contact.contact_name }}
alias    {{ contact.alias | default(contact.contact_name) }}
host_notifications_enabled    {{ contact.host_notifications_enabled | default('1') }}
service_notifications_enabled    {{ contact.service_notifications_enabled | default('1') }}
host_notification_period    {{ contact.host_notification_period | default('24x7') }}
service_notification_period    {{ contact.service_notification_period | default('24x7') }}
host_notification_options    {{ contact.host_notification_options | default('d,u,r,f') }}
service_notification_options    {{ contact.service_notification_options | default('w,u,c,r,f') }}
service_notification_commands    {{ contact.service_notification_commands }}
host_notification_commands    {{ contact.host_notification_commands }}
  {% if contact.email is defined %}
email    {{ contact.email }}
  {% endif %}
  {% if contact.pager is defined %}
pager    {{ contact.pager }}
  {% endif %}
    {% for attr in contact | dict2items %}
      {% if attr.key is match("address[1-6]") %}
{{ attr.key }}    {{ attr.value }}
      {% endif %}
    {% endfor %}
can_submit_commands    {{ contact.can_submit_commands | default('1') }}
}
  {% endfor %}
